body{
        margin: 20px; 
       padding: 20px;
         background-color: #111; 
    
}
.card{
    
     background-color: rgb(10, 0, 6);
    color:aliceblue;
    padding:20px;
    border: 3px solid rgb(147, 160, 210);
    border-bottom: 10px solid brown;
    display: flex;
     flex-wrap: wrap; 
    justify-content: center;
    text-align: center;
    max-width: 600px;
    margin: 0px auto;
    border-radius: 10px;
    transform:box-shadow 0 0 20px rgba(255, 255, 255, 0.05); 
    animation: fadeIn 1s ease forwards;
    
}
.img-logo{
    width: 150px;
    height:200px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    border: 1px solid white;
    border-radius: 20px;
    transition: box-shadow 0.4s ease, transform 0.3s ease;
    cursor: pointer;
    
    

}
.style{
    font-family: 'Viaoda Libre';
    cursor: pointer;
    transition:box-shadow 0.4s ease, transform 0.3s ease;

}
.style1{
    font-style: italic;

}
.box {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: brown;
    transition: width 2s;  /* animation */
}

.box:hover {
    width: 350px;
    box-shadow: 0 0 5px white;
    

}

.img-logo:hover {
    box-shadow: 0 0 30px brown;
    transform: scale(1.05);
}


